:root {
  --primary-dark: #333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  /* footer support */
  position: relative;
  min-height: 100%;
}


body {
  display: grid;
  grid-template-columns: ;
  width: 1000px;
  height:auto;
  border: 3px solid red;
  margin: auto;
}

h1 {
  line-height: 1.2;
}

header{
  display: flex ;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}

button {
  padding: 10px 20px;
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
}

button.active {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size-value {
  margin-bottom: -20px;
  font-size: 20px;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: var(--secondary-light);
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: var(--primary-dark);
}

.board {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.board-element {
  user-select: none;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}